* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 95%;
    margin: 0 auto;
    background-color: #E4E4E4;
}

header {
    color: white;
    background-color: #60C5FF;
    height: 5vh;
    margin: 3vh 0;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 2vh;
}

main {
    background-color: white;
    border-radius: 5px;
    border-top: 3px solid #60C5FF;
    padding: 2.5vh;
}

button {
    color: white;
    background-color: #4C00FF;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
}
.fa-circle-check {
    color: #60C5FF;
}

.fa-pen-to-square {
    color: #FFC108;
}

.fa-floppy-disk {
    color: #FFC108;
}

.fa-trash-can {
    color: #DC3645;
}