* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    width: 95%;
    margin: 0 auto;
    background-color: #E4E4E4;
}

header {
    color: white;
    background-color: #60C5FF;
    height: 10vh;
    margin: 3vh 0;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 2vh;
}

main {
    background-color: white;
    border-radius: 5px;
    border-top: 3px solid #60C5FF;
    padding: 0 2.5vh 2.5vh;
}

p {
    margin: 1vh 0;
}
input {
    border: 1px solid #E4E4E4;
    height: 25px;
}
hr {
    height: 3px;
    background-color: #E4E4E4;
    border: none;
}

button {
    border: none;
    background-color: #E4E4E4;
}

.ajout button, .etat button {
    color: white;
    background-color: #4C00FF;
    padding: 5px 10px;
    border-radius: 3px;
}



.fa-circle-check {
    color: #60C5FF;
}

.fa-pen-to-square,
.fa-floppy-disk {
    color: #FFC108;
}

.fa-trash-can {
    color: #DC3645;
}

section {
    margin: 2vh 0;
}

.etat {
    display: flex;
    justify-content: end;
    gap: 5px;
}

.ligne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E4E4E4;
    margin: 1vh 0;
    height: 10vh;
    padding: 0 4vh 0 1vh;
    border-radius: 3px;
}

.icones {
    display: flex;
    gap: 3rem;
}
.done {
    background-color: #28A745;
}